form{
    width:350px;
    margin:0 auto;
    background-color: #eeeeee;
    padding:30px 0;
}
.auth-form {padding-top: 200px;}
input{
    display:block;
    width: 80%;
    border-bottom:1px solid #e3e3e3;
    padding:5px 10px;
    margin:10px auto;
}
label{margin-left:40px;}
button{
    height: 30px;
    text-align: center;
    line-height: 30px;
    color:#fbfafd;
    background-color: #88b4d9;
    border-radius:2px;
    margin:10px 0 0 40px;
    padding:0 8px;
}
button:hover{background-color: #2f6fc2;}
input[type="submit"]{
    width: 19%;
    color:#fbfafd;
    background-color: #88b4d9;
    cursor:pointer;
    margin-right:71%;
}
.message{color:red;}
*{
    padding: 0;
    margin:0;
    border:0;
}
*,*:before,*:after{
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
html,body{
    height:100%;
    width:100%;
    line-height:1;
    font-size:14px;
    -ms-text-size-adjust:100%;
    -moz-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0; border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
body{font-family: 'Montserrat', sans-serif;}